<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=el%monte&amp;daddr=91801&amp;hl=en&amp;output=embed&amp;z=12"></iframe><br />



<!-- <p><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=FSf6CAIdF1n1-Cl3C67zaMPCgDHbqgj4aHd0Eg%3BFdQTCAIdGKn1-Cn9g7jzIcXCgDEZPeHBiVOL6Q&amp;q=91101+to+91801&amp;aq=&amp;sll=37.269174,-119.306607&amp;sspn=9.349922,19.753418&amp;ie=UTF8&amp;t=m&amp;saddr=91101&amp;daddr=91801&amp;ll=34.113157,-118.129828&amp;spn=0.058779,0.023096" style="color:#0000FF;text-align:left">View Larger Map</p> -->
<!-- 
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=<%= @location.address %>&amp;daddr=<%= params[:q] %>&amp;hl=en&amp;output=embed"> -->