<!DOCTYPE html>
<html>
<head>
  <title>Geocoder1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<iframe id="gmap" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10012&amp;aq=&amp;sll=40.744136,-73.992834&amp;sspn=0.033164,0.077162&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+10012&amp;ll=40.725063,-73.997695&amp;spn=0.016586,0.038581&amp;t=m&amp;z=14&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="425" height="350"></iframe>
	<div id="outer-container">
		<div id="inner-container">

		<%= yield %>
    
    </div>
  </div>
</body>
</html>




